.header,
.footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    color: #f9faf8;
    background-color: #1f2937;
    font-size: 24px;
    align-items: center;
}
.header ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
}

a:link{
text-decoration: none;

}
a {
    color: #e5e7eb;
}
.upper-body {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 100px 200px;
    padding-top: 25px;
    
}
#image {
    width: 400px;
    
}

img {
    width: 200px;
    height: auto;
    
}

#first-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
    padding-bottom: 10px;
}
#second-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}
button {
    border-radius: 25%;
    padding: 4px 18px;
    background-color: #3882f6;
    color: #f9faf8;
}
.mid-body{
    display: flex;
    flex-direction: column;
    
}
.info-header {
    font-size: 36px;
    display: flex;
    justify-content: center;
}
 .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    
 }

.fruit {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.quote {
    background-color: #e5e7eb;
    padding:150px ;
}
#quote {

 display: flex;
 justify-content: center;   
font-size: 36px;
color: #1f2937;
}
#author { display: flex;
    justify-content: flex-end;
    font-size: 18px;
    
}
.lower-body {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    margin: 50px 10px;
}
.lower-body div{
    color: #e5e7eb;
    
}
#footer {
    justify-content: center;
}